<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<form method="post" action="http://dev.onagatani.com/cgi-bin/mt/plugins/AWSSES/mt-mailmag.cgi?__mode=regist">

 <mt:loop name="error">
 <th class="col head"><span class="col-label"><mt:var name="__value__"></span></th>
 </mt:loop>

<p>メールアドレス：<input type="text" name="address"></p>
<p><input type="submit" value="送信する"></p>

</form>

</body>
<html>

